*{
    font-family: "Rubik", sans-serif;
}
section{
    height: 100vh;
}

nav{
    background-color: #EDEDED;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 14px 63px;
    align-items: center;
    box-shadow: 0px 5px 4px 0px #00000025;


    a{
        color: #3C3C3C;
        text-decoration: none;
    }


}

.tittle{
        color: #ffffff;
        font-size: 3.2rem;
        text-transform: uppercase;
        
    }

#navBarLinks{
    display: flex;
    
    li{
        padding-left: 73px;
    }
}

img{
    height: 30px;
}

#homeSection{
    background-color: #222222;
    padding-top: 55px;
    display: flex;
    justify-content: space-between;


    #homePhoto{
    width: 40vw;
    height: 100vh - 65px;
    background-image:url(assets/photos/perfil.jfif);
    background-size: cover;

    background-position: center;
}

    #homeTexts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60vw;
        align-items: center;



    h2{
        color: #B6B6B6;
        font-weight: 400;
        font-size: 2.4rem;

        padding: 24px 0 64px 0;
    }

    }


}

#aboutSection{
    background-color: #FF9E44;
    display: flex;

    #aboutMeTextsFlexContainer{

        width: 60vw;
        padding-top: 65px;
        display: flex;
        justify-content: center;
        align-items: center;

    #aboutMeTextsFlexItem{
        width: 80%;

        }    
    }

    #aboutMePhoto{
        background-image: url("assets/photos/fotosite.jpeg");
        width: 40vw;
        background-size: cover;
    }

    p{
        font-size: 1.75rem;
        color: #ffffff;
        padding: 45px 0 56px 0;
        text-align: justify;
        
    }
}

#skillsSection{
    background-image: url("assets/photos/fundo.png");
    background-size: cover;

    .overlay{
        height: 100vh;
        width: 100%;
        background-color: #ffffff70;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            color: #3C3C3C;
            padding-bottom:68px  ;
        }

        ul{
            display: flex;
            flex-wrap: wrap;
            max-width: 800px;
            gap: 27px;
            justify-content: center;
            padding-bottom: 164px;
        }

        li{
            background-color: #00000039;
            padding: 12px 17px ;
            border-radius: 8px;
            color: #ffffff;
            font-size: 1.90rem;

        }
        
    }

}

#contactSection{
    background-color: #2343E3;
    display: flex;


    #contactTexts{
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            padding-bottom: 60px ;
            text-decoration: underline;
        }

    }

        #contactTextChild{
            width: 80%;
            max-width: 700px;
            
        }
    p{
        color: #ffffff;
        font-size: 1.56rem;
    }

    #contactPhoto{
        background-image: url("assets/photos/contato.jpeg");
        width: 40vw;
        background-size: cover;
    }

    
}


.defaultButton{
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 8px 14px;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    a{
        padding-left: 11px;
        color: #ffffff;
        text-decoration: none;
        
    }
}

.downloadButtonLight{
        background-color: #FF9E44;

    

}

.downloadButtonDark{
    background-color: #3C3C3C;
}


.linkedinButton{
    background-color: #FEAF67;
    padding: 14px ;

}


.customLineHeight{
    line-height: 2.4rem;
}


.emailandPhone{
    font-style: normal;
    padding-top: 40px;
    padding-bottom: 100px;

    .contactItem{
        display: flex;
        padding-top: 12px;

        p{
            padding-left: 14px;
        }
        .emailItem{
            width: 32px;
        }
    }
}

.socialMedia{
    display: flex;
    gap: 1rem;
    cursor: pointer;

    a{
        background-color: #3756F3;
        padding: 12px;
        border-radius: 8px;
    }
}